<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container">

      <div class="row">
        <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="150">
          <img src="assets/img/about.png" class="img-fluid" alt="" style="margin-top: -100px;">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">
          <h3>Quienes somos</h3>
          <p class="fst-italic">
            Purple Shop es una distribuidora minorista de productos para la higiene del cuerpo. contamos con más de 3 años en el mercado, pero con cientos de clientes satisfechos. aun que estamos ubicados en la región metropolitana nuestro sistema de envíos cubre la mayor parte del territorio nacional.
          </p>
          <ul>
            <li><i class="bi bi-check-circle"></i>Todos nuestros productos son originales y certificados.</li>
            <li><i class="bi bi-check-circle"></i>Nos gusta estar innovando y mejorando la calidad de productos.</li>
            <li><i class="bi bi-check-circle"></i>Ante cualquier duda puedes contactarnos directamente y disfrutar de los mejores productos.</li>
          </ul>
          <a href="#contact" class="read-more">Contactar<i class="bi bi-long-arrow-right"></i></a>
        </div>
      </div>

    </div>
  </section><!-- End About Section -->