 <!-- ======= Footer ======= -->
 <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Purple Shop</h3>
            <p>
              Region metropolitana<br>
              Chile <br><br>
              <strong>Telefono:</strong> +1 5589 55488 55<br>
              <strong>Correo:</strong> info@example.com<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Links de interes</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Inicio</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Quienes somos</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Productos</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Preguntas frecuentes</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Contacto</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Nuestras especialidades</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a >Facial</a></li>
              <li><i class="bx bx-chevron-right"></i> <a >Corporal</a></li>
              <li><i class="bx bx-chevron-right"></i> <a >Dental</a></li>
              <li><i class="bx bx-chevron-right"></i> <a >Capilar</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Tenemos total disposición para ayudarte y guiarte con el producto que más te interese</h4>
            <button type="button" class="btn btn-info">Contactar</button>
          </div>

        </div>
      </div>
    </div>

    <div class="container">

      <div class="copyright-wrap d-md-flex py-4">
        <div class="me-md-auto text-center text-md-start">
          <div class="copyright">
            &copy; Copyright <strong><span>Purple-Shop</span></strong>. All Rights Reserved
          </div>
          <div class="credits">
            Designed by <a href="https://lifche.pages.dev/">Lifche.dev</a>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="social-links text-center text-md-right pt-3 pt-md-0">
              <a href="#" class="instagram"><span style="width: 50px; height: 50px;">📷</span></a>
              <p>instagram</p>
            </div>
          </div>
        
          <div class="col">
            <div class="social-links text-center text-md-right pt-3 pt-md-0">
              <a href="#" class="whatsapp"><span style="width: 50px; height: 50px;">📱</span></a>
              <p>whatsapp</p>
            </div>
          </div>
        </div>
        
       
      </div>

    </div>
  </footer><!-- End Footer -->