
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container-fluid" data-aos="fade-up">
      <div class="row justify-content-center">
        <div class="col-xl-5 col-lg-6 pt-3 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1>Todos los productos para el Cuidado</h1>
          <h2>- Facial</h2>
          <h2>- Corpora</h2>
          <h2>- Dental</h2>
          <h2>- Capilar</h2>

          <div><a href="#portfolio" class="btn-get-started scrollto">Ver catalogo</a></div>
        </div>
        <div class="col-xl-4 col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="150">
          <img src="../../../assets/img/logo.png" class="img-fluid animated" alt="" style="width: calc(100% + 100px);">
          <h1>Higiene a tu alcance  </h1>
        </div>
        
      </div>
    </div>

  </section><!-- End Hero -->
