<!-- Importa los estilos de Bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

<!-- Tu componente Angular -->
<app-header></app-header>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6 text-center">
      <h1 class="display-4">404</h1>
      <p class="lead">Página no encontrada</p>
 
      <img src="assets/img/not-found.png" class="img-fluid" alt="" style="width: 50%;">
      <p>Lo sentimos, la página que estás buscando no existe.</p>
      <a style="margin-bottom: 20px;" href="/" class="btn btn-success">Volver a la página de inicio</a>

    </div>
  </div>
</div>

<app-footer></app-footer>
