
<!-- contenedor 1 -->
<div class="container" style="padding-top: 130px;">
  <div class="row">
    <!-- elemento 1-->
    <div class="col-md-6">

      <!-- elemento 1-->
      <!-- Formulario para agregar productos -->
      <div class="add-product-form" style="width: 400px;">
        <h2 style="text-align: center;">Agregar Producto</h2>
        <form (ngSubmit)="agregarProducto($event)" [formGroup]="formulario">
          <label for="nombre">Nombre:</label>
          <input type="text" id="nombre" name="nombre" formControlName="nombre"
            required>

          <label for="precio">Precio:</label>
          <input type="number" id="precio" name="precio"
            formControlName="precio"
            required>

          <label for="stock">Stock:</label>
          <input type="number" id="stock" name="stock" formControlName="stock"
            required>

          <label for="imagen">Imagen:</label>
          <input type="text" id="imagen" name="imagen" formControlName="imagen"
            required>

          <label for="categoria">Categoría:</label>
          <select id="categoria" name="categoria" formControlName="categoria"
            required>
            <option value="capilar">Capilar</option>
            <option value="facial">Facial</option>
            <option value="dental">Dental</option>
            <option value="corporal">Corporal</option>
          </select>

          <label for="descripcion">Descripción:</label>
          <textarea id="descripcion" name="descripcion"
            formControlName="descripcion"
            required></textarea>

          <button type="submit">Agregar Producto</button>
        </form>

      </div>

    </div>

    <!-- elemento 2-->
    <div class="col-md-6">

      <!-- elemento 2-->
      <!-- Sección de tabla para listar y editar/eliminar productos -->
      <div class="product-list">
        <h2 style="text-align: center;">Listado de Productos</h2>
        <table>
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Precio</th>
              <th>Stock</th>
              <th>Categoria</th>
              <th>Descripcion</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let producto of listaProductos">
              <td>{{ producto.nombre }}</td>
              <td>{{ producto.precio }}</td>
              <td>{{ producto.stock }}</td>
              <td>{{ producto.categoria }}</td>
              <td>{{ producto.descripcion }}</td>
              <td>
                <button style="background-color: rgb(203, 235, 21);"
                  (click)="editarProducto(producto)">Editar</button>
                <button style="background-color: brown;"
                  (click)="eliminarProducto(producto.id)">Eliminar</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>


<!-- contenedor 2 -->


<div class="container" style="padding-top: 30px; padding-bottom: 30px;">
  <div class="row">
    <!-- elemento 3-->
    <div class="col-md-6">

      <!-- elemento 3-->
      <!-- Sección de tabla para listar las ventas en espera -->
      <div
        class="sales-list">
        <h2 style="text-align: center;">Ventas en Espera</h2>
        <table>
          <thead>
            <tr>

              <th>Total $</th>
              <th>Telefono</th>
              <th>Correo</th>
              <th>comprobante</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>

            <tr *ngFor="let venta of listaVentasEnEspera">
              <td> ${{ venta.total }}</td>
              <td> {{ venta.telefono }}</td>
              <td> {{ venta.correo }}</td>
              <td>{{ venta.imagen }}</td>
              <td>
                <button style="background-color: green;"
                  (click)="actualizarEstadoVenta(venta.id,'aceptada')">Aceptar</button>
                <button style="background-color: red;"
                  (click)="actualizarEstadoVenta(venta.id,'cancelada')">Cancelar</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>

    <!-- elemento 4-->
    <div class="col-md-6">

      <!-- elemento 4-->

      <!-- Sección de tabla para listar las ventas-->
      <div class="sales-list" style="width: 100%;">
        <h2 style="text-align: center;">Todas las Ventas</h2>
        <table>
          <thead>
            <tr>

              <th>Total $</th>
              <th>Telefono</th>
              <th>Correo</th>
              <th>Imagen</th>
              <th>Estado</th>
            </tr>
          </thead>
          <tbody>

            <tr *ngFor="let venta of listaVentas">
              <td> ${{ venta.total }}</td>
              <td> {{ venta.telefono }}</td>
              <td> {{ venta.correo }}</td>
              <td>{{ venta.imagen }}</td>
              <td>{{venta.estado}}</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>
