<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Purple Shop</title>



    <link href="../../../assets/img/favicon .ico" rel="icon">
    <link href="../../../assets/img/favicon .ico" rel="apple-touch-icon">
</head>
<body>
    <app-header></app-header>
    <app-hero></app-hero>
    <app-clients></app-clients>
    <app-productos></app-productos>
    <app-about></app-about>
    <app-pregunatas-frecuentes></app-pregunatas-frecuentes>
    <app-contacto></app-contacto>
    <app-footer></app-footer>
    <app-scroll-to-top></app-scroll-to-top>

</body>
</html>


