
<app-header></app-header>
 <!-- Sección de tabla para listar y editar/eliminar productos -->
<!-- carrito.component.html -->
<div style="margin-top: 200px; padding-left: 100px; margin-bottom: 100px;" class="product-list">
    <h2 style="text-align: center;">Listado de Productos</h2>
    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Cantidad</th>
          <th>Precio</th>
          <th>opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let venta of obtenerVentas(); let i = index">
          <td>{{ venta.producto.nombre }}</td>
          <td>{{ venta.cantidad }}</td>
          <td>{{ venta.producto.precio }}</td>
          <td><button style="background-color: red;" (click)="eliminarProducto(i)">Eliminar</button></td>
        </tr>
      </tbody>
    </table>
  
    <!-- Apartado para mostrar el total y el botón de pagar -->
    <div style="margin-top: 20px; text-align: right;">
      <h3>Total: ${{ calcularTotal()  }}</h3>
      <button (click)="pagar()" class="btn-pagar" style="border: solid 2px rgb(0, 0, 0); ;  background-color: rgb(17, 165, 42);">Pagar</button>
      <button (click)="vaciarCarrito()" class="btn-vaciar" style="border: solid 2px rgb(0, 0, 0); background-color: rgb(255, 220, 24);  color:black ;" >Vaciar Carrito</button>
    </div>
  </div>
  
  


<app-footer></app-footer>